<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Plz DOnt Kill Agauim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FD2D79F1EC0FC1400206954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD2D7B31EC0FC1500206954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD2D7BE1EC0FC1500206954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
